body{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header{
    margin-bottom: 1rem;
    border-bottom: 0.2rem solid #CCC;
}
.header h3{
    margin:0 auto;
    line-height: 3.5rem;
    
}
.w-22{
    width: 22%!important;
}
.card{
    min-height: 170px;
}
.card > img {
    width: 130px;
    /* margin-left: 20%;     */
} 